@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&family=Zeyada&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s linear;
}

html {

    overflow: hidden;

}

body {
    /* background-color: rgb(100, 100, 100); */
    background-image: url(/images/background.jpg);
    background-size: cover;
    color: #b4b4b4;
    background-repeat: no-repeat;
    min-height: 100vh;

}

nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Josefin Sans', sans-serif;

}

nav .burger {
    position: absolute;
}

nav .ul1 {
    font-size: clamp(1.5rem, 1.875vw, 1.5rem);
}

nav .ul1 a {
    text-decoration: none;
    color: #b4b4b4;
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
}


nav .ul1:hover {
    cursor: pointer;

}

nav .ul2 {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 1.5rem;

}

nav .ul2 span {
    display: block;
    font-size: .85rem;
    letter-spacing: 0px;
}

nav .ul2 li {
    margin-right: 5em;

}

nav .ul2 li a {
    color: #b4b4b4;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 1px;
}

nav .ul2 li a:hover {
    cursor: pointer;
}

nav .ul2 li button {
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid #b4b4b4;
    border-radius: 2rem;
    color: #b4b4b4;
    padding: 10px 30px;
}

nav .ul2 li button:hover {
    cursor: pointer;
    color: #6d6d6d;
    border: 1px solid #6d6d6d;
}

nav .ul2 a:hover {
    cursor: pointer;
    color: #6d6d6d;

}




main {
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Josefin Sans', sans-serif;


}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.box1 {
    width: 50vw;
    height: 50vh;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1 span {

    font-family: 'Zeyada', cursive;
    font-size: 5em;

}

.box2 {
    width: 40vw;
    height: 50vh;
}




footer {
    display: flex;
    justify-content: space-between;
    font-family: Neue Haas Unica, sans-serif;
}

footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

footer .ul3 li {
    margin: 1em;
    font-size: 1rem;
}

footer ul li a {
    text-decoration: none;
    color: #b4b4b4;

}

footer .ul3 #fbul3 {
    font-size: large;
}



footer .ul3 li:hover {
    cursor: pointer;
}

footer ul span {
    margin-right: 2em;
    font-family: 'Pacifico', cursive;
}


/* -----------form box--------------------- */


.maincontentbox {
    width: 100vw;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.3s linear;
}

#content {
    position: fixed;
    top: -120%;
    transition: all 0.2 linear;

}

#content.active {
    top: 0%;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}



.cm-div {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    top: 20%;
    right: 20%;
    background-color: transparent;

}

.cm-div:hover {
    cursor: pointer;
 
}

.cm {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}



.cm::before,
.cm::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 29px rgb(255 255 255 / 100%);
}


.cm::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cm::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.contentbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: larger;


}


.innercontentbox {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.innercontentbox h1 {
    margin-top: -100px;
    opacity: 0.9;
}

.big form {
    font-family: 'Josefin Sans', sans-serif;

}
.contact-form {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
  }
  
  .contact-form label {
    color: rgb(255, 255, 255);
  }
  
  .contact-form .heading {
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-weight: bold;
    display: block;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    height: 80px;
    width: 300px;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px white;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form button[type="submit"] {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  

  
  

/* .big button {
    width: 29.4rem;
    height: 3rem;
    background-color: #b4b4b4;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    letter-spacing: -1px;
}
.big button:hover{
    cursor: pointer;
    background-color: #6d6d6d;
} 
 */

/* -----------form box--------------------- */



/* -----------media screen--------------------- */

@media (max-width: 767px) {

    .burger {
        display: block;
        position: fixed;
        top: 20px;
        right: 40px;
        z-index: 999;
        cursor: pointer;
    }

    .burger span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: aliceblue;
        margin-bottom: 5px;
        transition: transform 0.3s ease;
    }

    .burger.active span:nth-child(2) {
        transform: scaleX(0);
    }

    .burger.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .burger.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        filter: blur(2);
        z-index: 998;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .nav.active {
        opacity: 1;
        pointer-events: auto;
    }

    .nav ul {
        display: block;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .nav ul li {
        margin-bottom: 20px;
    }

    .nav ul li a {
        color: #FFF;
        font-size: 24px;
        text-decoration: none;
        transition: color 0.3s ease;
    }





    .cm-div {
        top: 15%;
        right: 10%;
    }

/* ----------------------------------------------------------------------------------- */
.box{
    display: block;
    width: 20vw;
}

}

/* -----------media screen--------------------- */











/* ........................................ */
/* .cursor {
    width: 50px;
    height: 50px;
    border: 50%;
    border-radius: 50%;
    position: absolute;
    transition: 0.1s;
    transition-timing-function: ease-out;
    pointer-events: none;
    background: white;
    box-shadow: 0 0 4em 2em white;
    mix-blend-mode: difference;

} */
/* 
ul li:hover~.cursor {
    box-shadow: 0 0 8em em white;
    width: 5em;
    height: 5em;
} */